/.idea
#/bitrix
/bitrix/cache
/bitrix/backup
/bitrix/blocks
/bitrix/images
/bitrix/managed_cache
/bitrix/sounds
/bitrix/modules/*/install
/upload
*.log
*log.txt
*.tar.gz
*.xml
.gitconfig
.bash_history
/composer.phar
robots.txt
robots.txt.php
